{% extends 'base.html.twig' %}
{% block body %}
    
    <h1>Créer Flyer</h1>
    <div class="panel-group acc-v1 col-lg-3" id="accordion-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                        Format
                    </a>
                </h4>
            </div>
            <div id="collapse-One" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        Portrait
                        <ul class="list-unstyled">
                            <input id="taille1" type="button" value="A3" onClick="A3();">
                            <input id="taille2" type="button" value="A4" onClick="A4();">
                            <input id="taille3" type="button" value="A5" onClick="A5();">
                        </ul>
                        Paysage
                        <ul class="list-unstyled">
                            <input id="taille1" type="button" value="A3" onClick="A3Paysage();">
                            <input id="taille2" type="button" value="A4" onClick="A4Paysage();">
                            <input id="taille3" type="button" value="A5" onClick="A5Paysage();">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2">
                        Bloc de texte
                    </a>
                </h4>
            </div>
            <div id="collapse-2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row tblList">
                        <ul class="list-unstyled">
                            <li><i class="icon-pencil"></i><input id="Text" type="button" value="Text"></li>
                            <li><i class="icon-pencil"></i><input id="CartouchesConseiller" type="button" value="Cartouches de coordonnées conseiller"></li>
                            <li><i class="icon-pencil"></i><input id="CartouchesAgence" type="button" value="Cartouches de coordonnées agence"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                        Bloc image
                    </a>
                </h4>
            </div>
            <div id="collapse-Two" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <ul class="list-unstyled">
                            <li><i class="icon-link"></i> URL</li>
                            <li><i class="icon-folder"></i> Importer image</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-3">
                        Modéles
                    </a>
                </h4>
            </div>
            <div id="collapse-3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <ul class="list-unstyled">
                            <li><i class="icon-share-alt"></i> Mes modéles</li>
                        </ul>

                        {% for modele in modeles %}
                            <table class="table table-bordered table-condensed table-hover">
                                <tr>
                                    <td>{{ modele.name }}</td>
                                    <td>{{ "2017-19-20" }}</td>
                                    <td>{{ modele.format }}</td>
                                    <td>{{ "Verso" }}</td>
                                </tr>
                            </table>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function A3() {
            var obj = document.getElementsByClassName('ladiv');
            obj.style.height = "1191px";
            obj.style.width = "842px";
        }
        function A4() {
            var obj = document.getElementsByClassName('ladiv');
            obj.style.height = "842px";
            obj.style.width = "596px";
        }
        function A5() {
            var obj = document.getElementsByClassName('ladiv');
            obj.style.height = "596px";
            obj.style.width = "421px";
        }
        function A3Paysage() {
            var obj = document.getElementsByClassName('ladiv');
            obj.style.height = "842px";
            obj.style.width = "1191px";
        }
        function A4Paysage() {
            var obj = document.getElementsByClassName('ladiv');
            obj.style.height = "596px";
            obj.style.width = "842px";
        }
        function A5Paysage() {
            var obj = document.getElementsByClassName('ladiv');
            obj.style.height = "421px";
            obj.style.width = "596px";
        }
    </script>

    <div style="width:596px; height:842px; background-color:lightsteelblue; padding-left:0;padding-right:0;" class="ladiv col-lg-9" >

        <canvas id="c" width="596" height="842" class="ladiv"></canvas>
    </div>



    <script type="text/javascript">
        var canvas = new fabric.Canvas('c');

        $('#Text').click(function () {
            var rect = new fabric.Rect({
                left: 50,
                top: 350,
                fill: '#FA5858',
                width: 200,
                height: 50,
            });

            canvas.add(rect);
        });
        $('#CartouchesConseiller').click(function () {
            var rect = new fabric.Rect({
                left: 10,
                top: 10,
                fill: '#FE2E2E',
                width: 500,
                height: 100,
            });

            canvas.add(rect);
        });
        $('#CartouchesAgence').click(function () {
            var rect = new fabric.Rect({
                left: 10,
                top: 700,
                fill: '#DF0101',
                width: 500,
                height: 100,
            });

            canvas.add(rect);
        });
    </script>
{% endblock %}
